@import "common.scss";
@import "_minix.scss";
.box {
    width: 100%;
    height: 100%;
    background: #ccc;
    @include direction(column);
    @include box_flex;
}

header {
    width: 100%;
    height: pxTorem(35px);
    .one {
        height: pxTorem(35px);
        background: #000;
        h3 {
            color: #fff;
            line-height: pxTorem(35px);
            text-align: center;
            font-size: pxTorem(14px);
        }
    }
}